In [3]:
import pandas as pd
xl = pd.ExcelFile('2005.xlsx', low_memory=False)
print(xl.sheet_names)

['Sheet1', 'Sheet2']

In [4]:
df1 = xl.parse(xl.sheet_names[0])
df2 = xl.parse(xl.sheet_names[1])

df1.head()

,Date Name,price_date,company,Ticker,Standard and Poor stock,Sector,SIC primary code,Industry,EPS Est Q0,EPS Est Q0-% Rev-Last Month,...,R+3,R+4,R+5,R+6,R+7,R+8,R+9,R+10,R+11,R+12
0,"38383 1-800 CONTACTS, INC.",2005-01-31,"1-800 CONTACTS, INC.",CTAC,None,09 - Services,5961,0948 - Retail (Catalog & Mail Order),0.13,0,...,0.898419,1.042133,0.990788,1.0,1.030475,0.893233,1.052189,0.946133,0.613867,1.074380
1,"38349 1-800-ATTORNEY, Inc.",2004-12-28,"1-800-ATTORNEY, Inc.",ATTY,None,09 - Services,2741,0927 - Printing & Publishing,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,38383 1-800-FLOWERS.COM,2005-01-31,1-800-FLOWERS.COM,FLWS,None,09 - Services,5992,0963 - Retail (Specialty Non-Apparel),0.01,-66.7,...,0.885073,1.105970,0.950067,1.0,1.059659,0.931635,1.008633,0.968616,1.020619,0.926407
3,38365 1st Centennial Bancorp,2005-01-13,1st Centennial Bancorp,FCEN,None,07 - Financial,6712,0727 - Regional Banks,NaN,NaN,...,1.007143,0.978723,1.014493,1.0,1.028571,1.020833,0.952381,0.971429,0.992647,0.962963
4,38383 1st Constitution Bancorp,2005-01-31,1st Constitution Bancorp,FCCY,None,07 - Financial,6712,0727 - Regional Banks,NaN,NaN,...,0.919558,0.986878,1.089197,1.0,1.017294,0.998000,0.976954,0.987179,1.103896,1.009412

In [5]:
df2.head()

,price_date,company,ticker,price,split_date,split_fact,Split Adjusted Price,P+1,P+2,P+3,...,R+3,R+4,R+5,R+6,R+7,R+8,R+9,R+10,R+11,R+12
38355 Avesis Incorporated,2005-01-03,Avesis Incorporated,AVSS,0.31,NaT,0.0,0.31,0.31,0.31,0.31,...,1.000000,1.129032,1.000000,1.0,0.885714,1.290323,1.000000,1.000000,1.675000,1.014925
38355 Chinawe.com Inc.,2005-01-03,Chinawe.com Inc.,CHWE,0.09,NaT,0.0,0.09,0.12,0.11,0.10,...,0.909091,1.000000,1.300000,1.0,1.538462,1.450000,0.379310,1.000000,1.454545,0.750000
"38355 CreditRiskMonitor.com, Inc",2005-01-03,"CreditRiskMonitor.com, Inc",CRMZ,0.40,NaT,0.0,0.40,0.45,0.60,0.70,...,1.166667,0.642857,0.911111,1.0,1.000000,4.268293,0.857143,0.833333,1.200000,1.100000
38355 English Language Learning,2005-01-03,English Language Learning,ELLG,0.12,NaT,0.0,0.12,0.12,0.10,0.11,...,1.100000,0.363636,1.500000,1.0,0.500000,0.666667,2.000000,0.750000,2.000000,0.833333
38355 Indian Village Bancorp,2005-01-03,Indian Village Bancorp,IDVB,16.75,2004-12-16,1.1,16.75,16.50,17.50,16.50,...,0.942857,1.015152,1.000000,1.0,1.051940,1.000000,1.021566,1.083333,0.964103,1.000000

In [10]:
for i in df1.columns:
    print (i)

Date Name
price_date
company
Ticker
Standard and Poor stock
Sector
SIC primary code
Industry
EPS Est Q0
EPS Est Q0-% Rev-Last Month
EPS Est Q0-Last month
EPS Est Q0-Number
EPS Est Q0-Revisions down
EPS Est Q0-Revisions up
EPS Est Q1
EPS Est Q1-% Rev-Last Month
EPS Est Q1-Last month
EPS Est Q1-Number
EPS Est Q1-Revisions down
EPS Est Q1-Revisions up
EPS Est Y0
EPS Est Y0-% Rev-Last Month
EPS Est Y0-Last month
EPS Est Y0-Number
EPS Est Y0-Revisions down
EPS Est Y0-Revisions up
EPS Est Y1
EPS Est Y1-% Rev-Last Month
EPS Est Y1-Last month
EPS Est Y1-Number
EPS Est Y1-Revisions down
EPS Est Y1-Revisions up
EPS Est Y2
EPS Est Y2-% Rev-Last Month
EPS Est Y2-Last month
EPS Est Y2-Number
EPS Est Y2-Revisions down
EPS Est Y2-Revisions up
EPS Growth Est
EPS Growth Est-Last month
EPS Growth Est-Number
EPS Growth Est-Revisions down
EPS Growth Est-Revisions up
EPS Growth-Est Y0 to Est Y1
EPS Growth-Est Y1 to Est Y2
EPS Growth-Hist Y1 to Est Y0
Quarterly Surprise-Date
Quarterly Surprise-Difference
Quarterly Surprise-EPS
Quarterly Surprise-Est
Quarterly Surprise-Percent
Quarterly Surprise-SUE Q1
EPS-Growth 12m
EPS-Growth 1yr
EPS-Growth 5yr
Sales-Growth 12m
Sales-Growth 1yr
Sales-Growth 5yr
Inve$tWare Relative Value
PE
PE Relative Adjusted P/E
PE Relative Avg-5 year
PE Relative Valuation
PE to EPS Est growth 5 years
PE to EPS growth 5 years
PE-1 year ago
PE-Average 3 years
PE-Average 5 years
PE-Forward EPS Est Y0
PE-Forward EPS Est Y1
PE-Forward EPS Est Y2
Price/Book
Price/Book-Average Y5
Price/Sales
Price/Sales-Average 5 years
Yield
Insider Ownership %
Insiders--shares purchased
Insiders--shares sold
Net insider buys % shares out.
Institutional Ownership %
Institutions--shares purchased
Institutions--shares sold
Market Cap Q1
Price
Price Change  4 week
Price Change 13 week
Price Change 26 week
Price Change 52 week
Relative Strength  4 week
Relative Strength 13 week
Relative Strength 26 week
Relative Strength 52 week
Shares Average Q1
Split Date
Split Factor
Volume--Average Daily 10d
Volume--Average Monthly 3m
Price M001
Price M002
Price M003
Price M004
Price M005
Price M006
Price M007
Price M008
Price M009
Price M010
Price M011
Price M012
Payout - 7 year avg.
Payout ratio 12m
Return on equity - 5 year Avg.
Return on equity 12m
Inve$tWare Buy Price
Inve$tWare EPS Projection
Price--Volume M001
Price--Volume M002
Price--Volume M003
Price--Volume M004
Price--Volume M005
Price--Volume M006
Split Adjusted Price
P+1
P+2
P+3
P+4
P+5
P+6
P+7
P+8
P+9
P+10
P+11
P+12
R+1
R+2
R+3
R+4
R+5
R+6
R+7
R+8
R+9
R+10
R+11
R+12

In [11]:
for i in df2.columns:
    print(i)

price_date
company
ticker
price
split_date
split_fact
Split Adjusted Price
P+1
P+2
P+3
P+4
P+5
P+6
P+7
P+8
P+9
P+10
P+11
P+12
R+1
R+2
R+3
R+4
R+5
R+6
R+7
R+8
R+9
R+10
R+11
R+12

In [12]:
xl06 = pd.ExcelFile('2006.xlsx', low_memory=False)
print(xl06.sheet_names)

['Sheet1', 'Sheet2']

In [13]:
df106 = xl06.parse(xl06.sheet_names[0])
df206 = xl06.parse(xl06.sheet_names[1])

In [14]:
df106.head()

,Date Name,price_date,company,Ticker,Standard and Poor stock,Sector,SIC primary code,Industry,EPS Est Q0,EPS Est Q0-% Rev-Last Month,...,R+3,R+4,R+5,R+6,R+7,R+8,R+9,R+10,R+11,R+12
0,"38748 1-800 CONTACTS, INC.",2006-01-31,"1-800 CONTACTS, INC.",CTAC,None,09 - Services,5961,0948 - Retail (Catalog & Mail Order),0,0,...,0.938290,1.164025,0.951668,1.072961,0.999333,0.994663,1.083166,1.009907,1.060699,1.019075
1,"38743 1-800-ATTORNEY, Inc.",2006-01-26,"1-800-ATTORNEY, Inc.",ATTY,None,09 - Services,2741,0927 - Printing & Publishing,NaN,NaN,...,1.000000,0.594059,1.000000,1.000000,1.000000,1.000000,1.083333,1.000000,1.000000,1.000000
2,38748 1-800-FLOWERS.COM,2006-01-31,1-800-FLOWERS.COM,FLWS,None,09 - Services,5992,0963 - Retail (Specialty Non-Apparel),0,-100,...,1.016901,0.873961,0.906498,0.805944,1.140998,1.049430,1.018116,1.096085,1.146104,1.035411
3,38748 1st Centennial Bancorp,2006-01-31,1st Centennial Bancorp,FCEN,None,07 - Financial,6712,0727 - Regional Banks,NaN,NaN,...,0.779055,1.147541,0.957143,0.962687,1.046512,0.977778,1.022727,1.000000,1.074074,1.186207
4,38748 1st Constitution Bancorp,2006-01-31,1st Constitution Bancorp,FCCY,None,07 - Financial,6712,0727 - Regional Banks,NaN,NaN,...,1.100744,0.962559,0.997839,1.001624,0.996216,0.963104,1.067606,1.050660,0.904068,1.002778

In [15]:
df206.head()

,price_date,company,ticker,price,split_date,split_fact,Split Adjusted Price,P+1,P+2,P+3,...,R+3,R+4,R+5,R+6,R+7,R+8,R+9,R+10,R+11,R+12
"38720 Berliner Communications, Inc.",2006-01-03,"Berliner Communications, Inc.",BERL,0.4,2005-09-19,0.0,0.4,0.3,1.0,2.25,...,2.25,0.244444,1.0,2.654545,1.0,0.246575,3.055556,0.463636,1.490196,1.0
38720 Complete Wellness Centers,2006-01-03,Complete Wellness Centers,CMWLQ,0.0,NaT,0.0,0.0,0.0,0.0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38720 Complete Wellness Centers,2006-01-03,Complete Wellness Centers,CMWLQ,0.0,NaT,0.0,0.0,0.0,0.0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"38720 Helionetics, Inc.",2006-01-03,"Helionetics, Inc.",HLXC,0.0,1996-04-11,0.1,0.0,0.0,0.0,0.00,...,NaN,NaN,1.0,1.000000,0.0,NaN,0.000000,NaN,NaN,NaN
"38720 Helionetics, Inc.",2006-01-03,"Helionetics, Inc.",HLXC,0.0,1996-04-11,0.1,0.0,0.0,0.0,0.01,...,NaN,1.000000,1.0,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN

In [24]:
for i in df106.columns:
    print (i)

Date Name
price_date
company
Ticker
Standard and Poor stock
Sector
SIC primary code
Industry
EPS Est Q0
EPS Est Q0-% Rev-Last Month
EPS Est Q0-Last month
EPS Est Q0-Number
EPS Est Q0-Revisions down
EPS Est Q0-Revisions up
EPS Est Q1
EPS Est Q1-% Rev-Last Month
EPS Est Q1-Last month
EPS Est Q1-Number
EPS Est Q1-Revisions down
EPS Est Q1-Revisions up
EPS Est Y0
EPS Est Y0-% Rev-Last Month
EPS Est Y0-Last month
EPS Est Y0-Number
EPS Est Y0-Revisions down
EPS Est Y0-Revisions up
EPS Est Y1
EPS Est Y1-% Rev-Last Month
EPS Est Y1-Last month
EPS Est Y1-Number
EPS Est Y1-Revisions down
EPS Est Y1-Revisions up
EPS Est Y2
EPS Est Y2-% Rev-Last Month
EPS Est Y2-Last month
EPS Est Y2-Number
EPS Est Y2-Revisions down
EPS Est Y2-Revisions up
EPS Growth Est
EPS Growth Est-Last month
EPS Growth Est-Number
EPS Growth Est-Revisions down
EPS Growth Est-Revisions up
EPS Growth-Est Y0 to Est Y1
EPS Growth-Est Y1 to Est Y2
EPS Growth-Hist Y1 to Est Y0
Quarterly Surprise-Date
Quarterly Surprise-Difference
Quarterly Surprise-EPS
Quarterly Surprise-Est
Quarterly Surprise-Percent
Quarterly Surprise-SUE Q1
EPS-Growth 12m
EPS-Growth 1yr
EPS-Growth 5yr
Sales-Growth 12m
Sales-Growth 1yr
Sales-Growth 5yr
Inve$tWare Relative Value
PE
PE Relative Adjusted P/E
PE Relative Avg-5 year
PE Relative Valuation
PE to EPS Est growth 5 years
PE to EPS growth 5 years
PE-1 year ago
PE-Average 3 years
PE-Average 5 years
PE-Forward EPS Est Y0
PE-Forward EPS Est Y1
PE-Forward EPS Est Y2
Price/Book
Price/Book-Average Y5
Price/Sales
Price/Sales-Average 5 years
Yield
Insider Ownership %
Insiders--shares purchased
Insiders--shares sold
Net insider buys % shares out.
Institutional Ownership %
Institutions--shares purchased
Institutions--shares sold
Market Cap Q1
Price
Price Change  4 week
Price Change 13 week
Price Change 26 week
Price Change 52 week
Relative Strength  4 week
Relative Strength 13 week
Relative Strength 26 week
Relative Strength 52 week
Shares Average Q1
Split Date
Split Factor
Volume--Average Daily 10d
Volume--Average Monthly 3m
Price M001
Price M002
Price M003
Price M004
Price M005
Price M006
Price M007
Price M008
Price M009
Price M010
Price M011
Price M012
Payout - 7 year avg.
Payout ratio 12m
Return on equity - 5 year Avg.
Return on equity 12m
Inve$tWare Buy Price
Inve$tWare EPS Projection
Price--Volume M001
Price--Volume M002
Price--Volume M003
Price--Volume M004
Price--Volume M005
Price--Volume M006
Split Adjusted Price
P+1
P+2
P+3
P+4
P+5
P+6
P+7
P+8
P+9
P+10
P+11
P+12
R+1
R+2
R+3
R+4
R+5
R+6
R+7
R+8
R+9
R+10
R+11
R+12

In [16]:
xl07 = pd.ExcelFile('2007.xlsx', low_memory=False)
print(xl07.sheet_names)

['Sheet1', 'Sheet2']

In [17]:
df107 = xl07.parse(xl07.sheet_names[0])
df207 = xl07.parse(xl07.sheet_names[1])

In [18]:
df107.head()

,Date Name,price_date,company,Ticker,Standard and Poor stock,Sector,SIC primary code,Industry,EPS Est Q0,EPS Est Q0-% Rev-Last Month,...,R+3,R+4,R+5,R+6,R+7,R+8,R+9,R+10,R+11,R+12
0,"39113 1-800 CONTACTS, INC.",2007-01-31,"1-800 CONTACTS, INC.",CTAC,None,09 - Services,5961,0948 - Retail (Catalog & Mail Order),-0.19,0,...,1.035098,1.154023,1.168327,0.990622,1.032702,NaN,NaN,NaN,NaN,NaN
1,"39107 1-800-ATTORNEY, Inc.",2007-01-25,"1-800-ATTORNEY, Inc.",ATTY,None,09 - Services,2741,0927 - Printing & Publishing,NaN,NaN,...,1.000000,1.000000,0.923077,1.166667,0.785714,1.000000,0.636364,1.000000,0.857143,0.666667
2,"39113 1-800-FLOWERS.COM, Inc.",2007-01-31,"1-800-FLOWERS.COM, Inc.",FLWS,None,09 - Services,5992,0963 - Retail (Specialty Non-Apparel),0,100,...,1.039846,1.128554,1.032859,0.987275,1.141783,1.090310,1.034513,0.873228,0.833811,0.894616
3,39113 1st Centennial Bancorp,2007-01-31,1st Centennial Bancorp,FCEN,None,07 - Financial,6712,0727 - Regional Banks,NaN,NaN,...,0.911111,0.692683,0.957746,0.928309,0.871287,1.072727,0.932203,0.954545,0.976190,0.975610
4,39112 1st Constitution Bancorp,2007-01-30,1st Constitution Bancorp,FCCY,None,07 - Financial,6712,0727 - Regional Banks,NaN,NaN,...,1.001642,0.971585,0.979190,0.947157,0.970285,1.031875,0.998789,0.933293,1.039636,0.905625

In [19]:
df207.head()

,price_date,company,ticker,price,split_date,split_fact,Split Adjusted Price,P+1,P+2,P+3,...,R+3,R+4,R+5,R+6,R+7,R+8,R+9,R+10,R+11,R+12
39085 Allegro Group Inc.,2007-01-03,Allegro Group Inc.,ALLG,0.15,2006-05-22,0.01,0.15,0.15,0.15,0.15,...,1.000000,1.000,1.000000,1.000000,1.000000,1.0,1.2,0.833333,1.2,0.555556
39085 Beres Industries Inc.,2007-01-03,Beres Industries Inc.,BERS,0.00,NaT,0.00,0.00,0.00,0.00,0.00,...,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"39085 Boston Restaurant Associates,",2007-01-03,"Boston Restaurant Associates,",BRAI,0.96,NaT,0.00,0.96,0.96,0.96,2.00,...,2.083333,1.000,1.000000,0.075000,1.666667,1.0,1.0,NaN,NaN,NaN
"39085 Boston Restaurant Associates,",2007-01-03,"Boston Restaurant Associates,",BRAI,0.96,NaT,0.00,0.96,0.96,2.00,2.00,...,1.000000,1.000,0.075000,1.666667,1.000000,1.0,NaN,NaN,NaN,NaN
"39085 Boston Restaurant Associates,",2007-01-03,"Boston Restaurant Associates,",BRAI,0.96,NaT,0.00,0.96,2.00,2.00,2.00,...,1.000000,0.075,1.666667,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN

In [25]:
for i in df107.columns:
    print (i)

Date Name
price_date
company
Ticker
Standard and Poor stock
Sector
SIC primary code
Industry
EPS Est Q0
EPS Est Q0-% Rev-Last Month
EPS Est Q0-Last month
EPS Est Q0-Number
EPS Est Q0-Revisions down
EPS Est Q0-Revisions up
EPS Est Q1
EPS Est Q1-% Rev-Last Month
EPS Est Q1-Last month
EPS Est Q1-Number
EPS Est Q1-Revisions down
EPS Est Q1-Revisions up
EPS Est Y0
EPS Est Y0-% Rev-Last Month
EPS Est Y0-Last month
EPS Est Y0-Number
EPS Est Y0-Revisions down
EPS Est Y0-Revisions up
EPS Est Y1
EPS Est Y1-% Rev-Last Month
EPS Est Y1-Last month
EPS Est Y1-Number
EPS Est Y1-Revisions down
EPS Est Y1-Revisions up
EPS Est Y2
EPS Est Y2-% Rev-Last Month
EPS Est Y2-Last month
EPS Est Y2-Number
EPS Est Y2-Revisions down
EPS Est Y2-Revisions up
EPS Growth Est
EPS Growth Est-Last month
EPS Growth Est-Number
EPS Growth Est-Revisions down
EPS Growth Est-Revisions up
EPS Growth-Est Y0 to Est Y1
EPS Growth-Est Y1 to Est Y2
EPS Growth-Hist Y1 to Est Y0
Quarterly Surprise-Date
Quarterly Surprise-Difference
Quarterly Surprise-EPS
Quarterly Surprise-Est
Quarterly Surprise-Percent
Quarterly Surprise-SUE Q1
EPS-Growth 12m
EPS-Growth 1yr
EPS-Growth 5yr
Sales-Growth 12m
Sales-Growth 1yr
Sales-Growth 5yr
Inve$tWare Relative Value
PE
PE Relative Adjusted P/E
PE Relative Avg-5 year
PE Relative Valuation
PE to EPS Est growth 5 years
PE to EPS growth 5 years
PE-1 year ago
PE-Average 3 years
PE-Average 5 years
PE-Forward EPS Est Y0
PE-Forward EPS Est Y1
PE-Forward EPS Est Y2
Price/Book
Price/Book-Average Y5
Price/Sales
Price/Sales-Average 5 years
Yield
Insider Ownership %
Insiders--shares purchased
Insiders--shares sold
Net insider buys % shares out.
Institutional Ownership %
Institutions--shares purchased
Institutions--shares sold
Market Cap Q1
Price
Price Change  4 week
Price Change 13 week
Price Change 26 week
Price Change 52 week
Relative Strength  4 week
Relative Strength 13 week
Relative Strength 26 week
Relative Strength 52 week
Shares Average Q1
Split Date
Split Factor
Volume--Average Daily 10d
Volume--Average Monthly 3m
Price M001
Price M002
Price M003
Price M004
Price M005
Price M006
Price M007
Price M008
Price M009
Price M010
Price M011
Price M012
Payout - 7 year avg.
Payout ratio 12m
Return on equity - 5 year Avg.
Return on equity 12m
Inve$tWare Buy Price
Inve$tWare EPS Projection
Price--Volume M001
Price--Volume M002
Price--Volume M003
Price--Volume M004
Price--Volume M005
Price--Volume M006
Split Adjusted Price
P+1
P+2
P+3
P+4
P+5
P+6
P+7
P+8
P+9
P+10
P+11
P+12
R+1
R+2
R+3
R+4
R+5
R+6
R+7
R+8
R+9
R+10
R+11
R+12

In [20]:
xl08 = pd.ExcelFile('2008.xlsx', low_memory=False)
print(xl08.sheet_names)

['Sheet1', 'Sheet2']

In [21]:
df108 = xl08.parse(xl08.sheet_names[0])
df208 = xl08.parse(xl08.sheet_names[1])

In [22]:
df108.head()

,Date Name,price_date,company,Ticker,Standard and Poor stock,Sector,SIC primary code,Industry,EPS Est Q0,EPS Est Q0-% Rev-Last Month,...,R+3,R+4,R+5,R+6,R+7,R+8,R+9,R+10,R+11,R+12
0,39478 012 Smile.Communications Ltd.,2008-01-31,012 Smile.Communications Ltd.,SMLC,None,09 - Services,4899,0915 - Communications Services,NaN,NaN,...,0.984245,1.066855,0.857899,0.934156,0.900881,0.918093,0.747004,0.709447,1.366834,0.996324
1,"39472 1-800-ATTORNEY, Inc.",2008-01-25,"1-800-ATTORNEY, Inc.",ATTY,None,09 - Services,2741,0927 - Printing & Publishing,NaN,NaN,...,0.833333,1.000000,1.000000,1.000000,1.000000,1.000000,0.400000,0.500000,1.000000,1.000000
2,"39478 1-800-FLOWERS.COM, Inc.",2008-01-31,"1-800-FLOWERS.COM, Inc.",FLWS,None,09 - Services,5992,0963 - Retail (Specialty Non-Apparel),0.04,-20,...,1.036428,0.938776,0.778986,0.854264,1.114338,0.980456,0.619601,1.024129,0.657068,0.545817
3,39469 1608557 Ontario Inc. (USA),2008-01-22,1608557 Ontario Inc. (USA),HMSLQ,None,08 - Health Care,2836,0803 - Biotechnology & Drugs,NaN,NaN,...,1.333333,1.250000,0.800000,0.500000,0.500000,1.000000,1.000000,0.000000,NaN,NaN
4,39477 1st Centennial Bancorp,2008-01-30,1st Centennial Bancorp,FCEN,None,07 - Financial,6712,0727 - Regional Banks,NaN,NaN,...,0.666667,0.895000,0.558659,0.650000,0.692308,1.475556,0.256024,1.188235,0.069307,0.285714

In [23]:
df208.head()

,price_date,company,ticker,price,split_date,split_fact,Split Adjusted Price,P+1,P+2,P+3,...,R+3,R+4,R+5,R+6,R+7,R+8,R+9,R+10,R+11,R+12
"39449 Auto-Graphics, Inc.",2008-01-02,"Auto-Graphics, Inc.",AUGR,0.77,2000-02-28,3.00,0.77,0.77,0.80,0.80,...,1.000000,1.000000,0.962500,1.000000,0.857143,1.000000,0.681818,1.000000,1.000000,1.000000
"39449 Auto-Graphics, Inc.",2008-01-02,"Auto-Graphics, Inc.",AUGR,0.77,2000-02-28,3.00,0.77,0.80,0.80,0.80,...,1.000000,0.962500,1.000000,0.857143,1.000000,0.681818,1.000000,1.000000,1.000000,1.000000
39449 Coded Communications,2008-01-02,Coded Communications,CODDQ,0.00,NaT,0.00,0.00,0.00,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39449 Electronic Tele-Communications,2008-01-02,Electronic Tele-Communications,ETCIA,0.12,NaT,0.00,0.12,0.12,0.16,0.16,...,1.000000,1.000000,1.000000,0.875000,1.071429,1.000000,0.800000,0.833333,1.000000,0.800000
"39449 Lancer Orthodontics, Inc.",2008-01-02,"Lancer Orthodontics, Inc.",LANZ,0.68,1996-11-15,0.14,0.68,0.68,0.70,0.68,...,0.971429,1.544118,0.904762,0.652632,1.016129,0.888889,0.535714,1.633333,0.428571,1.428571

In [26]:
for i in df108.columns:
    print (i)

Date Name
price_date
company
Ticker
Standard and Poor stock
Sector
SIC primary code
Industry
EPS Est Q0
EPS Est Q0-% Rev-Last Month
EPS Est Q0-Last month
EPS Est Q0-Number
EPS Est Q0-Revisions down
EPS Est Q0-Revisions up
EPS Est Q1
EPS Est Q1-% Rev-Last Month
EPS Est Q1-Last month
EPS Est Q1-Number
EPS Est Q1-Revisions down
EPS Est Q1-Revisions up
EPS Est Y0
EPS Est Y0-% Rev-Last Month
EPS Est Y0-Last month
EPS Est Y0-Number
EPS Est Y0-Revisions down
EPS Est Y0-Revisions up
EPS Est Y1
EPS Est Y1-% Rev-Last Month
EPS Est Y1-Last month
EPS Est Y1-Number
EPS Est Y1-Revisions down
EPS Est Y1-Revisions up
EPS Est Y2
EPS Est Y2-% Rev-Last Month
EPS Est Y2-Last month
EPS Est Y2-Number
EPS Est Y2-Revisions down
EPS Est Y2-Revisions up
EPS Growth Est
EPS Growth Est-Last month
EPS Growth Est-Number
EPS Growth Est-Revisions down
EPS Growth Est-Revisions up
EPS Growth-Est Y0 to Est Y1
EPS Growth-Est Y1 to Est Y2
EPS Growth-Hist Y1 to Est Y0
Quarterly Surprise-Date
Quarterly Surprise-Difference
Quarterly Surprise-EPS
Quarterly Surprise-Est
Quarterly Surprise-Percent
Quarterly Surprise-SUE Q1
EPS-Growth 12m
EPS-Growth 1yr
EPS-Growth 5yr
Sales-Growth 12m
Sales-Growth 1yr
Sales-Growth 5yr
Inve$tWare Relative Value
PE
PE Relative Adjusted P/E
PE Relative Avg-5 year
PE Relative Valuation
PE to EPS Est growth 5 years
PE to EPS growth 5 years
PE-1 year ago
PE-Average 3 years
PE-Average 5 years
PE-Forward EPS Est Y0
PE-Forward EPS Est Y1
PE-Forward EPS Est Y2
Price/Book
Price/Book-Average Y5
Price/Sales
Price/Sales-Average 5 years
Yield
Insider Ownership %
Insiders--shares purchased
Insiders--shares sold
Net insider buys % shares out.
Institutional Ownership %
Institutions--shares purchased
Institutions--shares sold
Market Cap Q1
Price
Price Change  4 week
Price Change 13 week
Price Change 26 week
Price Change 52 week
Relative Strength  4 week
Relative Strength 13 week
Relative Strength 26 week
Relative Strength 52 week
Shares Average Q1
Split Date
Split Factor
Volume--Average Daily 10d
Volume--Average Monthly 3m
Price M001
Price M002
Price M003
Price M004
Price M005
Price M006
Price M007
Price M008
Price M009
Price M010
Price M011
Price M012
Payout - 7 year avg.
Payout ratio 12m
Return on equity - 5 year Avg.
Return on equity 12m
Inve$tWare Buy Price
Inve$tWare EPS Projection
Price--Volume M001
Price--Volume M002
Price--Volume M003
Price--Volume M004
Price--Volume M005
Price--Volume M006
Split Adjusted Price
P+1
P+2
P+3
P+4
P+5
P+6
P+7
P+8
P+9
P+10
P+11
P+12
R+1
R+2
R+3
R+4
R+5
R+6
R+7
R+8
R+9
R+10
R+11
R+12

In [27]:
xl09 = pd.ExcelFile('2009.xlsx', low_memory=False)
print(xl09.sheet_names)

['Sheet1', 'Sheet2']

In [28]:
df109 = xl09.parse(xl09.sheet_names[0])
df209 = xl09.parse(xl09.sheet_names[1])

In [29]:
df109.head()

,Date Name,price_date,company,Ticker,Standard and Poor stock,Sector,SIC primary code,Industry,EPS Est Q0,EPS Est Q0-% Rev-Last Month,...,R+3,R+4,R+5,R+6,R+7,R+8,R+9,R+10,R+11,R+12
0,39840 012Smile.Communications Ltd. (,2009-01-27,012Smile.Communications Ltd. (,SMLC,None,09 - Services,4899,0915 - Communications Services,NaN,NaN,...,1.034188,1.198347,1.171034,1.116608,1.128692,0.993458,1.313264,1.169771,1.317208,1.088331
1,"39813 1-800-ATTORNEY, Inc.",2008-12-31,"1-800-ATTORNEY, Inc.",ATTY,None,09 - Services,2741,0927 - Printing & Publishing,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"39843 1-800-FLOWERS.COM, Inc.",2009-01-30,"1-800-FLOWERS.COM, Inc.",FLWS,None,09 - Services,5992,0963 - Retail (Specialty Non-Apparel),0.33,-1.5,...,1.410628,0.797945,0.824034,1.250000,1.287500,1.116505,1.113043,0.583333,1.183036,0.781132
3,39843 141 Capital Inc,2009-01-30,141 Capital Inc,OFON,None,07 - Financial,6211,0718 - Investment Services,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,39841 1608557 Ontario Inc. (USA),2009-01-28,1608557 Ontario Inc. (USA),HMSLQ,None,08 - Health Care,2836,0803 - Biotechnology & Drugs,NaN,NaN,...,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000,0.000000,NaN,NaN

In [30]:
df209.head()

,price_date,company,ticker,price,split_date,split_fact,Split Adjusted Price,P+1,P+2,P+3,...,R+3,R+4,R+5,R+6,R+7,R+8,R+9,R+10,R+11,R+12
"39815 AJS Bancorp, Inc.",2009-01-02,"AJS Bancorp, Inc.",AJSB,15.99,NaT,0.0,15.99,11.50,13.50,15.00,...,1.111111,0.966667,1.000000,0.965517,1.107143,0.967742,0.900000,1.055556,1.0,0.982456
39815 Amwest Insurance Group,2009-01-02,Amwest Insurance Group,AMWT,0.01,1999-03-29,1.1,0.01,0.01,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"39815 American Consumers,Inc.",2009-01-02,"American Consumers,Inc.",ANCS,1.10,NaT,0.0,1.10,1.10,0.75,0.75,...,1.000000,1.000000,0.893333,1.000000,0.985075,1.045455,2.173913,NaN,NaN,NaN
"39815 American Consumers,Inc.",2009-01-02,"American Consumers,Inc.",ANCS,1.10,NaT,0.0,1.10,0.75,0.75,0.75,...,1.000000,0.893333,1.000000,0.985075,1.045455,2.173913,NaN,NaN,NaN,NaN
"39815 American Telecom Services, Inc",2009-01-02,"American Telecom Services, Inc",ATEL,0.00,NaT,0.0,0.00,0.02,0.01,0.02,...,2.000000,0.500000,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
for i in df109.columns:
    print(i)

Date Name
price_date
company
Ticker
Standard and Poor stock
Sector
SIC primary code
Industry
EPS Est Q0
EPS Est Q0-% Rev-Last Month
EPS Est Q0-Last month
EPS Est Q0-Number
EPS Est Q0-Revisions down
EPS Est Q0-Revisions up
EPS Est Q1
EPS Est Q1-% Rev-Last Month
EPS Est Q1-Last month
EPS Est Q1-Number
EPS Est Q1-Revisions down
EPS Est Q1-Revisions up
EPS Est Y0
EPS Est Y0-% Rev-Last Month
EPS Est Y0-Last month
EPS Est Y0-Number
EPS Est Y0-Revisions down
EPS Est Y0-Revisions up
EPS Est Y1
EPS Est Y1-% Rev-Last Month
EPS Est Y1-Last month
EPS Est Y1-Number
EPS Est Y1-Revisions down
EPS Est Y1-Revisions up
EPS Est Y2
EPS Est Y2-% Rev-Last Month
EPS Est Y2-Last month
EPS Est Y2-Number
EPS Est Y2-Revisions down
EPS Est Y2-Revisions up
EPS Growth Est
EPS Growth Est-Last month
EPS Growth Est-Number
EPS Growth Est-Revisions down
EPS Growth Est-Revisions up
EPS Growth-Est Y0 to Est Y1
EPS Growth-Est Y1 to Est Y2
EPS Growth-Hist Y1 to Est Y0
Quarterly Surprise-Date
Quarterly Surprise-Difference
Quarterly Surprise-EPS
Quarterly Surprise-Est
Quarterly Surprise-Percent
Quarterly Surprise-SUE Q1
EPS-Growth 12m
EPS-Growth 1yr
EPS-Growth 5yr
Sales-Growth 12m
Sales-Growth 1yr
Sales-Growth 5yr
Inve$tWare Relative Value
PE
PE Relative Adjusted P/E
PE Relative Avg-5 year
PE Relative Valuation
PE to EPS Est growth 5 years
PE to EPS growth 5 years
PE-1 year ago
PE-Average 3 years
PE-Average 5 years
PE-Forward EPS Est Y0
PE-Forward EPS Est Y1
PE-Forward EPS Est Y2
Price/Book
Price/Book-Average Y5
Price/Sales
Price/Sales-Average 5 years
Yield
Insider Ownership %
Insiders--shares purchased
Insiders--shares sold
Net insider buys % shares out.
Institutional Ownership %
Institutions--shares purchased
Institutions--shares sold
Market Cap Q1
Price
Price Change  4 week
Price Change 13 week
Price Change 26 week
Price Change 52 week
Relative Strength  4 week
Relative Strength 13 week
Relative Strength 26 week
Relative Strength 52 week
Shares Average Q1
Split Date
Split Factor
Volume--Average Daily 10d
Volume--Average Monthly 3m
Price M001
Price M002
Price M003
Price M004
Price M005
Price M006
Price M007
Price M008
Price M009
Price M010
Price M011
Price M012
Payout - 7 year avg.
Payout ratio 12m
Return on equity - 5 year Avg.
Return on equity 12m
Inve$tWare Buy Price
Inve$tWare EPS Projection
Price--Volume M001
Price--Volume M002
Price--Volume M003
Price--Volume M004
Price--Volume M005
Price--Volume M006
Split Adjusted Price
P+1
P+2
P+3
P+4
P+5
P+6
P+7
P+8
P+9
P+10
P+11
P+12
R+1
R+2
R+3
R+4
R+5
R+6
R+7
R+8
R+9
R+10
R+11
R+12

In [32]:
xl10 = pd.ExcelFile('2010.xlsx', low_memory=False)
print(xl10.sheet_names)

['Sheet1', 'Sheet2']

In [33]:
df101 = xl10.parse(xl10.sheet_names[0])
df102 = xl10.parse(xl10.sheet_names[1])

In [34]:
df101.head()

,Date Name,price_date,company,Ticker,Standard and Poor stock,Sector,SIC primary code,Industry,EPS Est Q0,EPS Est Q0-% Rev-Last Month,...,R+3,R+4,R+5,R+6,R+7,R+8,R+9,R+10,R+11,R+12
0,40207 012Smile.Communications Ltd. (,2010-01-29,012Smile.Communications Ltd. (,SMLC,None,09 - Services,4899,0915 - Communications Services,NaN,NaN,...,0.846821,0.913652,0.866642,0.985345,0.924322,1.288689,1.107602,1.011273,1.239344,NaN
1,"40177 1-800-ATTORNEY, Inc.",2009-12-30,"1-800-ATTORNEY, Inc.",ATTY,None,09 - Services,2741,0927 - Printing & Publishing,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"40207 1-800-FLOWERS.COM, Inc.",2010-01-29,"1-800-FLOWERS.COM, Inc.",FLWS,None,09 - Services,5992,0963 - Retail (Specialty Non-Apparel),-0.01,-233.3,...,1.139442,0.933566,0.771536,1.082524,0.708520,1.170886,0.972973,1.105556,1.351759,1.018587
3,40207 141 Capital Inc,2010-01-29,141 Capital Inc,ONCP,None,07 - Financial,6211,0718 - Investment Services,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,40206 1608557 Ontario Inc. (USA),2010-01-28,1608557 Ontario Inc. (USA),HMSLQ,None,08 - Health Care,2836,0803 - Biotechnology & Drugs,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
df102.head()

,price_date,company,ticker,price,split_price,split_fact,Split_Adjusted Price,P+1,P+2,P+3,...,R+3,R+4,R+5,R+6,R+7,R+8,R+9,R+10,R+11,R+12
40207 Agilent Technologies Inc.,2010-01-29,Agilent Technologies Inc.,A,28.03,NaT,0.0,28.03,31.46,34.39,36.26,...,1.054376,0.892443,0.878554,0.982413,0.965628,1.189841,1.084450,1.006322,1.183038,1.009655
40235 Agilent Technologies Inc.,2010-02-26,Agilent Technologies Inc.,A,31.46,NaT,0.0,31.46,34.39,36.26,32.36,...,0.892443,0.878554,0.982413,0.965628,1.189841,1.084450,1.006322,1.183038,1.009655,1.005977
40268 Agilent Technologies Inc.,2010-03-31,Agilent Technologies Inc.,A,34.39,NaT,0.0,34.39,36.26,32.36,28.43,...,0.878554,0.982413,0.965628,1.189841,1.084450,1.006322,1.183038,1.009655,1.005977,1.064163
40298 Agilent Technologies Inc.,2010-04-30,Agilent Technologies Inc.,A,36.26,NaT,0.0,36.26,32.36,28.43,27.93,...,0.982413,0.965628,1.189841,1.084450,1.006322,1.183038,1.009655,1.005977,1.064163,1.114560
40326 Agilent Technologies Inc.,2010-05-28,Agilent Technologies Inc.,A,32.36,NaT,0.0,32.36,28.43,27.93,26.97,...,0.965628,1.189841,1.084450,1.006322,1.183038,1.009655,1.005977,1.064163,1.114560,0.999199

In [36]:
for i in df101.columns:
    print (i)

Date Name
price_date
company
Ticker
Standard and Poor stock
Sector
SIC primary code
Industry
EPS Est Q0
EPS Est Q0-% Rev-Last Month
EPS Est Q0-Last month
EPS Est Q0-Number
EPS Est Q0-Revisions down
EPS Est Q0-Revisions up
EPS Est Q1
EPS Est Q1-% Rev-Last Month
EPS Est Q1-Last month
EPS Est Q1-Number
EPS Est Q1-Revisions down
EPS Est Q1-Revisions up
EPS Est Y0
EPS Est Y0-% Rev-Last Month
EPS Est Y0-Last month
EPS Est Y0-Number
EPS Est Y0-Revisions down
EPS Est Y0-Revisions up
EPS Est Y1
EPS Est Y1-% Rev-Last Month
EPS Est Y1-Last month
EPS Est Y1-Number
EPS Est Y1-Revisions down
EPS Est Y1-Revisions up
EPS Est Y2
EPS Est Y2-% Rev-Last Month
EPS Est Y2-Last month
EPS Est Y2-Number
EPS Est Y2-Revisions down
EPS Est Y2-Revisions up
EPS Growth Est
EPS Growth Est-Last month
EPS Growth Est-Number
EPS Growth Est-Revisions down
EPS Growth Est-Revisions up
EPS Growth-Est Y0 to Est Y1
EPS Growth-Est Y1 to Est Y2
EPS Growth-Hist Y1 to Est Y0
Quarterly Surprise-Date
Quarterly Surprise-Difference
Quarterly Surprise-EPS
Quarterly Surprise-Est
Quarterly Surprise-Percent
Quarterly Surprise-SUE Q1
EPS-Growth 12m
EPS-Growth 1yr
EPS-Growth 5yr
Sales-Growth 12m
Sales-Growth 1yr
Sales-Growth 5yr
Inve$tWare Relative Value
PE
PE Relative Adjusted P/E
PE Relative Avg-5 year
PE Relative Valuation
PE to EPS Est growth 5 years
PE to EPS growth 5 years
PE-1 year ago
PE-Average 3 years
PE-Average 5 years
PE-Forward EPS Est Y0
PE-Forward EPS Est Y1
PE-Forward EPS Est Y2
Price/Book
Price/Book-Average Y5
Price/Sales
Price/Sales-Average 5 years
Yield
Insider Ownership %
Insiders--shares purchased
Insiders--shares sold
Net insider buys % shares out.
Institutional Ownership %
Institutions--shares purchased
Institutions--shares sold
Market Cap Q1
Price
Price Change  4 week
Price Change 13 week
Price Change 26 week
Price Change 52 week
Relative Strength  4 week
Relative Strength 13 week
Relative Strength 26 week
Relative Strength 52 week
Shares Average Q1
Split Date
Split Factor
Volume--Average Daily 10d
Volume--Average Monthly 3m
Price M001
Price M002
Price M003
Price M004
Price M005
Price M006
Price M007
Price M008
Price M009
Price M010
Price M011
Price M012
Payout - 7 year avg.
Payout ratio 12m
Return on equity - 5 year Avg.
Return on equity 12m
Inve$tWare Buy Price
Inve$tWare EPS Projection
Price--Volume M001
Price--Volume M002
Price--Volume M003
Price--Volume M004
Price--Volume M005
Price--Volume M006
Split Adjusted Price
P+1
P+2
P+3
P+4
P+5
P+6
P+7
P+8
P+9
P+10
P+11
P+12
R+1
R+2
R+3
R+4
R+5
R+6
R+7
R+8
R+9
R+10
R+11
R+12

In [37]:
xl11 = pd.ExcelFile('2011.xlsx', low_memory=False)
print(xl11.sheet_names)

['Sheet1', 'Sheet2']

In [39]:
df111 = xl11.parse(xl11.sheet_names[0])
df112 = xl11.parse(xl11.sheet_names[1])

In [40]:
df111.head()

,Date Name,price_date,company,Ticker,Standard and Poor stock,Sector,SIC primary code,Industry,EPS Est Q0,EPS Est Q0-% Rev-Last Month,...,R+3,R+4,R+5,R+6,R+7,R+8,R+9,R+10,R+11,R+12
0,"40547 1-800-ATTORNEY, Inc.",2011-01-04,"1-800-ATTORNEY, Inc.",ATTY,None,09 - Services,2741,0927 - Printing & Publishing,NaN,NaN,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.800000,1.000000,1.000000,1.000000
1,"40574 1-800-FLOWERS.COM, Inc.",2011-01-31,"1-800-FLOWERS.COM, Inc.",FLWS,None,09 - Services,5992,0963 - Retail (Specialty Non-Apparel),-0.06,0,...,1.015152,0.925373,1.000000,0.970968,0.827243,0.931727,1.228448,0.849123,0.909091,1.309091
2,40574 1608557 Ontario Inc. (USA),2011-01-31,1608557 Ontario Inc. (USA),OTROQ,None,08 - Health Care,2836,0803 - Biotechnology & Drugs,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,0.000000
3,40563 1st Centennial Bancorp,2011-01-20,1st Centennial Bancorp,FCEN,None,07 - Financial,6712,0727 - Regional Banks,NaN,NaN,...,1.000000,1.000000,1.000000,0.500000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
4,"40571 1st Century Bancshares, Inc.",2011-01-28,"1st Century Bancshares, Inc.",FCTY,None,07 - Financial,6712,0727 - Regional Banks,NaN,NaN,...,0.975610,0.935000,0.989305,1.027027,0.973684,1.000000,0.932432,1.000000,1.026087,1.031073

In [41]:
df112.head()

,price_date,company,ticker,price,split_price,split_fact,Split_Adjusted Price,P+1,P+2,P+3,...,R+3,R+4,R+5,R+6,R+7,R+8,R+9,R+10,R+11,R+12
40574 Agilent Technologies Inc.,2011-01-31,Agilent Technologies Inc.,A,41.83,NaT,0.0,41.83,42.08,44.78,49.91,...,1.114560,0.999199,1.024865,0.824887,0.874526,0.847573,1.186240,1.011600,0.931467,1.215860
40602 Agilent Technologies Inc.,2011-02-28,Agilent Technologies Inc.,A,42.08,NaT,0.0,42.08,44.78,49.91,49.87,...,0.999199,1.024865,0.824887,0.874526,0.847573,1.186240,1.011600,0.931467,1.215860,1.027078
40633 Agilent Technologies Inc.,2011-03-31,Agilent Technologies Inc.,A,44.78,NaT,0.0,44.78,49.91,49.87,51.11,...,1.024865,0.824887,0.874526,0.847573,1.186240,1.011600,0.931467,1.215860,1.027078,1.020403
40662 Agilent Technologies Inc.,2011-04-29,Agilent Technologies Inc.,A,49.91,NaT,0.0,49.91,49.87,51.11,42.16,...,0.824887,0.874526,0.847573,1.186240,1.011600,0.931467,1.215860,1.027078,1.020403,0.947652
40694 Agilent Technologies Inc.,2011-05-31,Agilent Technologies Inc.,A,49.87,NaT,0.0,49.87,51.11,42.16,36.87,...,0.874526,0.847573,1.186240,1.011600,0.931467,1.215860,1.027078,1.020403,0.947652,0.963964

In [42]:
for i in df111.columns:
    print (i)

Date Name
price_date
company
Ticker
Standard and Poor stock
Sector
SIC primary code
Industry
EPS Est Q0
EPS Est Q0-% Rev-Last Month
EPS Est Q0-Last month
EPS Est Q0-Number
EPS Est Q0-Revisions down
EPS Est Q0-Revisions up
EPS Est Q1
EPS Est Q1-% Rev-Last Month
EPS Est Q1-Last month
EPS Est Q1-Number
EPS Est Q1-Revisions down
EPS Est Q1-Revisions up
EPS Est Y0
EPS Est Y0-% Rev-Last Month
EPS Est Y0-Last month
EPS Est Y0-Number
EPS Est Y0-Revisions down
EPS Est Y0-Revisions up
EPS Est Y1
EPS Est Y1-% Rev-Last Month
EPS Est Y1-Last month
EPS Est Y1-Number
EPS Est Y1-Revisions down
EPS Est Y1-Revisions up
EPS Est Y2
EPS Est Y2-% Rev-Last Month
EPS Est Y2-Last month
EPS Est Y2-Number
EPS Est Y2-Revisions down
EPS Est Y2-Revisions up
EPS Growth Est
EPS Growth Est-Last month
EPS Growth Est-Number
EPS Growth Est-Revisions down
EPS Growth Est-Revisions up
EPS Growth-Est Y0 to Est Y1
EPS Growth-Est Y1 to Est Y2
EPS Growth-Hist Y1 to Est Y0
Quarterly Surprise-Date
Quarterly Surprise-Difference
Quarterly Surprise-EPS
Quarterly Surprise-Est
Quarterly Surprise-Percent
Quarterly Surprise-SUE Q1
EPS-Growth 12m
EPS-Growth 1yr
EPS-Growth 5yr
Sales-Growth 12m
Sales-Growth 1yr
Sales-Growth 5yr
Inve$tWare Relative Value
PE
PE Relative Adjusted P/E
PE Relative Avg-5 year
PE Relative Valuation
PE to EPS Est growth 5 years
PE to EPS growth 5 years
PE-1 year ago
PE-Average 3 years
PE-Average 5 years
PE-Forward EPS Est Y0
PE-Forward EPS Est Y1
PE-Forward EPS Est Y2
Price/Book
Price/Book-Average Y5
Price/Sales
Price/Sales-Average 5 years
Yield
Insider Ownership %
Insiders--shares purchased
Insiders--shares sold
Net insider buys % shares out.
Institutional Ownership %
Institutions--shares purchased
Institutions--shares sold
Market Cap Q1
Price
Price Change  4 week
Price Change 13 week
Price Change 26 week
Price Change 52 week
Relative Strength  4 week
Relative Strength 13 week
Relative Strength 26 week
Relative Strength 52 week
Shares Average Q1
Split Date
Split Factor
Volume--Average Daily 10d
Volume--Average Monthly 3m
Price M001
Price M002
Price M003
Price M004
Price M005
Price M006
Price M007
Price M008
Price M009
Price M010
Price M011
Price M012
Payout - 7 year avg.
Payout ratio 12m
Return on equity - 5 year Avg.
Return on equity 12m
Inve$tWare Buy Price
Inve$tWare EPS Projection
Price--Volume M001
Price--Volume M002
Price--Volume M003
Price--Volume M004
Price--Volume M005
Price--Volume M006
Split Adjusted Price
P+1
P+2
P+3
P+4
P+5
P+6
P+7
P+8
P+9
P+10
P+11
P+12
R+1
R+2
R+3
R+4
R+5
R+6
R+7
R+8
R+9
R+10
R+11
R+12

In [79]:
featureFile = pd.ExcelFile('Data for archana.xlsx')     
#features = featureFile.parse(featureFile.sheet_names[0]) 
features = features.loc[features['Unnamed: 2'] == 'x']   
                                                        
features = features['long_name']                       
                                                         
features = features.tolist()
features = [fea.lower() for fea in features]
required_features = ['company'] + features

In [47]:
print("Before removing nullvalues: ",len(df1))
df1.dropna(inplace = True)
print("After removing null",len(df1))

Before removing nullvalues:  104431
After removing null 3969

In [48]:
print("Before removing nullvalues: ",len(df106))
df106.dropna(inplace = True)
print("After removing null",len(df106))

Before removing nullvalues:  104201
After removing null 4393

In [50]:
print("Before removing nullvalues: ",len(df107))
df107.dropna(inplace = True)
print("After removing null",len(df107))

Before removing nullvalues:  105579
After removing null 4975

In [51]:
print("Before removing nullvalues: ",len(df108))
df108.dropna(inplace = True)
print("After removing null",len(df108))

Before removing nullvalues:  98190
After removing null 4745

In [52]:
print("Before removing nullvalues: ",len(df109))
df109.dropna(inplace = True)
print("After removing null",len(df109))

Before removing nullvalues:  116458
After removing null 4595

In [53]:
print("Before removing nullvalues: ",len(df101))
df101.dropna(inplace = True)
print("After removing null",len(df101))

Before removing nullvalues:  117859
After removing null 4152

In [54]:
print("Before removing nullvalues: ",len(df111))
df111.dropna(inplace = True)
print("After removing null",len(df111))

Before removing nullvalues:  119666
After removing null 4170

In [55]:
df1.isna().any()

Date Name                      False
price_date                     False
company                        False
Ticker                         False
Standard and Poor stock        False
Sector                         False
SIC primary code               False
Industry                       False
EPS Est Q0                     False
EPS Est Q0-% Rev-Last Month    False
EPS Est Q0-Last month          False
EPS Est Q0-Number              False
EPS Est Q0-Revisions down      False
EPS Est Q0-Revisions up        False
EPS Est Q1                     False
EPS Est Q1-% Rev-Last Month    False
EPS Est Q1-Last month          False
EPS Est Q1-Number              False
EPS Est Q1-Revisions down      False
EPS Est Q1-Revisions up        False
EPS Est Y0                     False
EPS Est Y0-% Rev-Last Month    False
EPS Est Y0-Last month          False
EPS Est Y0-Number              False
EPS Est Y0-Revisions down      False
EPS Est Y0-Revisions up        False
EPS Est Y1                     False
EPS Est Y1-% Rev-Last Month    False
EPS Est Y1-Last month          False
EPS Est Y1-Number              False
                               ...
Price--Volume M002             False
Price--Volume M003             False
Price--Volume M004             False
Price--Volume M005             False
Price--Volume M006             False
Split Adjusted Price           False
P+1                            False
P+2                            False
P+3                            False
P+4                            False
P+5                            False
P+6                            False
P+7                            False
P+8                            False
P+9                            False
P+10                           False
P+11                           False
P+12                           False
R+1                            False
R+2                            False
R+3                            False
R+4                            False
R+5                            False
R+6                            False
R+7                            False
R+8                            False
R+9                            False
R+10                           False
R+11                           False
R+12                           False
Length: 147, dtype: bool

In [56]:
df106.isna().any()

Date Name                      False
price_date                     False
company                        False
Ticker                         False
Standard and Poor stock        False
Sector                         False
SIC primary code               False
Industry                       False
EPS Est Q0                     False
EPS Est Q0-% Rev-Last Month    False
EPS Est Q0-Last month          False
EPS Est Q0-Number              False
EPS Est Q0-Revisions down      False
EPS Est Q0-Revisions up        False
EPS Est Q1                     False
EPS Est Q1-% Rev-Last Month    False
EPS Est Q1-Last month          False
EPS Est Q1-Number              False
EPS Est Q1-Revisions down      False
EPS Est Q1-Revisions up        False
EPS Est Y0                     False
EPS Est Y0-% Rev-Last Month    False
EPS Est Y0-Last month          False
EPS Est Y0-Number              False
EPS Est Y0-Revisions down      False
EPS Est Y0-Revisions up        False
EPS Est Y1                     False
EPS Est Y1-% Rev-Last Month    False
EPS Est Y1-Last month          False
EPS Est Y1-Number              False
                               ...
Price--Volume M002             False
Price--Volume M003             False
Price--Volume M004             False
Price--Volume M005             False
Price--Volume M006             False
Split Adjusted Price           False
P+1                            False
P+2                            False
P+3                            False
P+4                            False
P+5                            False
P+6                            False
P+7                            False
P+8                            False
P+9                            False
P+10                           False
P+11                           False
P+12                           False
R+1                            False
R+2                            False
R+3                            False
R+4                            False
R+5                            False
R+6                            False
R+7                            False
R+8                            False
R+9                            False
R+10                           False
R+11                           False
R+12                           False
Length: 147, dtype: bool

In [57]:
df107.isna().any()

Date Name                      False
price_date                     False
company                        False
Ticker                         False
Standard and Poor stock        False
Sector                         False
SIC primary code               False
Industry                       False
EPS Est Q0                     False
EPS Est Q0-% Rev-Last Month    False
EPS Est Q0-Last month          False
EPS Est Q0-Number              False
EPS Est Q0-Revisions down      False
EPS Est Q0-Revisions up        False
EPS Est Q1                     False
EPS Est Q1-% Rev-Last Month    False
EPS Est Q1-Last month          False
EPS Est Q1-Number              False
EPS Est Q1-Revisions down      False
EPS Est Q1-Revisions up        False
EPS Est Y0                     False
EPS Est Y0-% Rev-Last Month    False
EPS Est Y0-Last month          False
EPS Est Y0-Number              False
EPS Est Y0-Revisions down      False
EPS Est Y0-Revisions up        False
EPS Est Y1                     False
EPS Est Y1-% Rev-Last Month    False
EPS Est Y1-Last month          False
EPS Est Y1-Number              False
                               ...
Price--Volume M002             False
Price--Volume M003             False
Price--Volume M004             False
Price--Volume M005             False
Price--Volume M006             False
Split Adjusted Price           False
P+1                            False
P+2                            False
P+3                            False
P+4                            False
P+5                            False
P+6                            False
P+7                            False
P+8                            False
P+9                            False
P+10                           False
P+11                           False
P+12                           False
R+1                            False
R+2                            False
R+3                            False
R+4                            False
R+5                            False
R+6                            False
R+7                            False
R+8                            False
R+9                            False
R+10                           False
R+11                           False
R+12                           False
Length: 147, dtype: bool

In [58]:
df108.isna().any()

Date Name                      False
price_date                     False
company                        False
Ticker                         False
Standard and Poor stock        False
Sector                         False
SIC primary code               False
Industry                       False
EPS Est Q0                     False
EPS Est Q0-% Rev-Last Month    False
EPS Est Q0-Last month          False
EPS Est Q0-Number              False
EPS Est Q0-Revisions down      False
EPS Est Q0-Revisions up        False
EPS Est Q1                     False
EPS Est Q1-% Rev-Last Month    False
EPS Est Q1-Last month          False
EPS Est Q1-Number              False
EPS Est Q1-Revisions down      False
EPS Est Q1-Revisions up        False
EPS Est Y0                     False
EPS Est Y0-% Rev-Last Month    False
EPS Est Y0-Last month          False
EPS Est Y0-Number              False
EPS Est Y0-Revisions down      False
EPS Est Y0-Revisions up        False
EPS Est Y1                     False
EPS Est Y1-% Rev-Last Month    False
EPS Est Y1-Last month          False
EPS Est Y1-Number              False
                               ...
Price--Volume M002             False
Price--Volume M003             False
Price--Volume M004             False
Price--Volume M005             False
Price--Volume M006             False
Split Adjusted Price           False
P+1                            False
P+2                            False
P+3                            False
P+4                            False
P+5                            False
P+6                            False
P+7                            False
P+8                            False
P+9                            False
P+10                           False
P+11                           False
P+12                           False
R+1                            False
R+2                            False
R+3                            False
R+4                            False
R+5                            False
R+6                            False
R+7                            False
R+8                            False
R+9                            False
R+10                           False
R+11                           False
R+12                           False
Length: 147, dtype: bool

In [59]:
df109.isna().any()

Date Name                      False
price_date                     False
company                        False
Ticker                         False
Standard and Poor stock        False
Sector                         False
SIC primary code               False
Industry                       False
EPS Est Q0                     False
EPS Est Q0-% Rev-Last Month    False
EPS Est Q0-Last month          False
EPS Est Q0-Number              False
EPS Est Q0-Revisions down      False
EPS Est Q0-Revisions up        False
EPS Est Q1                     False
EPS Est Q1-% Rev-Last Month    False
EPS Est Q1-Last month          False
EPS Est Q1-Number              False
EPS Est Q1-Revisions down      False
EPS Est Q1-Revisions up        False
EPS Est Y0                     False
EPS Est Y0-% Rev-Last Month    False
EPS Est Y0-Last month          False
EPS Est Y0-Number              False
EPS Est Y0-Revisions down      False
EPS Est Y0-Revisions up        False
EPS Est Y1                     False
EPS Est Y1-% Rev-Last Month    False
EPS Est Y1-Last month          False
EPS Est Y1-Number              False
                               ...
Price--Volume M002             False
Price--Volume M003             False
Price--Volume M004             False
Price--Volume M005             False
Price--Volume M006             False
Split Adjusted Price           False
P+1                            False
P+2                            False
P+3                            False
P+4                            False
P+5                            False
P+6                            False
P+7                            False
P+8                            False
P+9                            False
P+10                           False
P+11                           False
P+12                           False
R+1                            False
R+2                            False
R+3                            False
R+4                            False
R+5                            False
R+6                            False
R+7                            False
R+8                            False
R+9                            False
R+10                           False
R+11                           False
R+12                           False
Length: 147, dtype: bool

In [60]:
df101.isna().any()

Date Name                      False
price_date                     False
company                        False
Ticker                         False
Standard and Poor stock        False
Sector                         False
SIC primary code               False
Industry                       False
EPS Est Q0                     False
EPS Est Q0-% Rev-Last Month    False
EPS Est Q0-Last month          False
EPS Est Q0-Number              False
EPS Est Q0-Revisions down      False
EPS Est Q0-Revisions up        False
EPS Est Q1                     False
EPS Est Q1-% Rev-Last Month    False
EPS Est Q1-Last month          False
EPS Est Q1-Number              False
EPS Est Q1-Revisions down      False
EPS Est Q1-Revisions up        False
EPS Est Y0                     False
EPS Est Y0-% Rev-Last Month    False
EPS Est Y0-Last month          False
EPS Est Y0-Number              False
EPS Est Y0-Revisions down      False
EPS Est Y0-Revisions up        False
EPS Est Y1                     False
EPS Est Y1-% Rev-Last Month    False
EPS Est Y1-Last month          False
EPS Est Y1-Number              False
                               ...
Price--Volume M002             False
Price--Volume M003             False
Price--Volume M004             False
Price--Volume M005             False
Price--Volume M006             False
Split Adjusted Price           False
P+1                            False
P+2                            False
P+3                            False
P+4                            False
P+5                            False
P+6                            False
P+7                            False
P+8                            False
P+9                            False
P+10                           False
P+11                           False
P+12                           False
R+1                            False
R+2                            False
R+3                            False
R+4                            False
R+5                            False
R+6                            False
R+7                            False
R+8                            False
R+9                            False
R+10                           False
R+11                           False
R+12                           False
Length: 147, dtype: bool

In [61]:
df111.isna().any()

Date Name                      False
price_date                     False
company                        False
Ticker                         False
Standard and Poor stock        False
Sector                         False
SIC primary code               False
Industry                       False
EPS Est Q0                     False
EPS Est Q0-% Rev-Last Month    False
EPS Est Q0-Last month          False
EPS Est Q0-Number              False
EPS Est Q0-Revisions down      False
EPS Est Q0-Revisions up        False
EPS Est Q1                     False
EPS Est Q1-% Rev-Last Month    False
EPS Est Q1-Last month          False
EPS Est Q1-Number              False
EPS Est Q1-Revisions down      False
EPS Est Q1-Revisions up        False
EPS Est Y0                     False
EPS Est Y0-% Rev-Last Month    False
EPS Est Y0-Last month          False
EPS Est Y0-Number              False
EPS Est Y0-Revisions down      False
EPS Est Y0-Revisions up        False
EPS Est Y1                     False
EPS Est Y1-% Rev-Last Month    False
EPS Est Y1-Last month          False
EPS Est Y1-Number              False
                               ...
Price--Volume M002             False
Price--Volume M003             False
Price--Volume M004             False
Price--Volume M005             False
Price--Volume M006             False
Split Adjusted Price           False
P+1                            False
P+2                            False
P+3                            False
P+4                            False
P+5                            False
P+6                            False
P+7                            False
P+8                            False
P+9                            False
P+10                           False
P+11                           False
P+12                           False
R+1                            False
R+2                            False
R+3                            False
R+4                            False
R+5                            False
R+6                            False
R+7                            False
R+8                            False
R+9                            False
R+10                           False
R+11                           False
R+12                           False
Length: 147, dtype: bool

In [69]:
featureFile = pd.ExcelFile('Data for archana.xlsx', low_memory = 'false')   
features = featureFile.parse(featureFile.sheet_names[0])

In [72]:
dff = featureFile.parse(featureFile.sheet_names[0])

In [83]:
for i in dff:
    print(i)

short_name
long_name
unnamed: 2

In [84]:
for i in df111.columns:
    print (i)

Date Name
price_date
company
Ticker
Standard and Poor stock
Sector
SIC primary code
Industry
EPS Est Q0
EPS Est Q0-% Rev-Last Month
EPS Est Q0-Last month
EPS Est Q0-Number
EPS Est Q0-Revisions down
EPS Est Q0-Revisions up
EPS Est Q1
EPS Est Q1-% Rev-Last Month
EPS Est Q1-Last month
EPS Est Q1-Number
EPS Est Q1-Revisions down
EPS Est Q1-Revisions up
EPS Est Y0
EPS Est Y0-% Rev-Last Month
EPS Est Y0-Last month
EPS Est Y0-Number
EPS Est Y0-Revisions down
EPS Est Y0-Revisions up
EPS Est Y1
EPS Est Y1-% Rev-Last Month
EPS Est Y1-Last month
EPS Est Y1-Number
EPS Est Y1-Revisions down
EPS Est Y1-Revisions up
EPS Est Y2
EPS Est Y2-% Rev-Last Month
EPS Est Y2-Last month
EPS Est Y2-Number
EPS Est Y2-Revisions down
EPS Est Y2-Revisions up
EPS Growth Est
EPS Growth Est-Last month
EPS Growth Est-Number
EPS Growth Est-Revisions down
EPS Growth Est-Revisions up
EPS Growth-Est Y0 to Est Y1
EPS Growth-Est Y1 to Est Y2
EPS Growth-Hist Y1 to Est Y0
Quarterly Surprise-Date
Quarterly Surprise-Difference
Quarterly Surprise-EPS
Quarterly Surprise-Est
Quarterly Surprise-Percent
Quarterly Surprise-SUE Q1
EPS-Growth 12m
EPS-Growth 1yr
EPS-Growth 5yr
Sales-Growth 12m
Sales-Growth 1yr
Sales-Growth 5yr
Inve$tWare Relative Value
PE
PE Relative Adjusted P/E
PE Relative Avg-5 year
PE Relative Valuation
PE to EPS Est growth 5 years
PE to EPS growth 5 years
PE-1 year ago
PE-Average 3 years
PE-Average 5 years
PE-Forward EPS Est Y0
PE-Forward EPS Est Y1
PE-Forward EPS Est Y2
Price/Book
Price/Book-Average Y5
Price/Sales
Price/Sales-Average 5 years
Yield
Insider Ownership %
Insiders--shares purchased
Insiders--shares sold
Net insider buys % shares out.
Institutional Ownership %
Institutions--shares purchased
Institutions--shares sold
Market Cap Q1
Price
Price Change  4 week
Price Change 13 week
Price Change 26 week
Price Change 52 week
Relative Strength  4 week
Relative Strength 13 week
Relative Strength 26 week
Relative Strength 52 week
Shares Average Q1
Split Date
Split Factor
Volume--Average Daily 10d
Volume--Average Monthly 3m
Price M001
Price M002
Price M003
Price M004
Price M005
Price M006
Price M007
Price M008
Price M009
Price M010
Price M011
Price M012
Payout - 7 year avg.
Payout ratio 12m
Return on equity - 5 year Avg.
Return on equity 12m
Inve$tWare Buy Price
Inve$tWare EPS Projection
Price--Volume M001
Price--Volume M002
Price--Volume M003
Price--Volume M004
Price--Volume M005
Price--Volume M006
Split Adjusted Price
P+1
P+2
P+3
P+4
P+5
P+6
P+7
P+8
P+9
P+10
P+11
P+12
R+1
R+2
R+3
R+4
R+5
R+6
R+7
R+8
R+9
R+10
R+11
R+12

In [78]:
dff = features.loc[features['Unnamed: 2'] == 'x']   
                                                        
dff = dff['long_name']                       
                                                         
dff = dff.tolist()
dff = [fea.lower() for fea in features]
required_features = ['company'] + dff

In [86]:



for i in required_features:
    print(i.upper())

COMPANY
EPS EST Q0-% REV-LAST MONTH
EPS EST Q0-REVISIONS DOWN
EPS EST Q0-REVISIONS UP
EPS EST Y0
EPS EST Y0-% REV-LAST MONTH
EPS EST Y0-LAST MONTH
EPS EST Y0-REVISIONS DOWN
EPS EST Y0-REVISIONS UP
EPS EST Y1
EPS EST Y1-% REV-LAST MONTH
EPS EST Y1-LAST MONTH
EPS EST Y1-REVISIONS DOWN
EPS EST Y1-REVISIONS UP
EPS EST Y2
EPS EST Y2-% REV-LAST MONTH
EPS EST Y2-LAST MONTH
EPS EST Y2-REVISIONS DOWN
EPS EST Y2-REVISIONS UP
EPS GROWTH EST
EPS GROWTH EST-LAST MONTH
EPS GROWTH EST-REVISIONS DOWN
EPS GROWTH EST-REVISIONS UP
EPS GROWTH-EST Y0 TO EST Y1
EPS GROWTH-EST Y1 TO EST Y2
QUARTERLY SURPRISE-DIFFERENCE
QUARTERLY SURPRISE-PERCENT
QUARTERLY SURPRISE-SUE Q1
PE
PE RELATIVE ADJUSTED P/E
PE TO EPS EST GROWTH 5 YEARS
PE TO EPS GROWTH 5 YEARS
PE-AVERAGE 3 YEARS
PE-FORWARD EPS EST Y0
PE-FORWARD EPS EST Y1
PE-FORWARD EPS EST Y2
PRICE/BOOK
PRICE/SALES
NET INSIDER BUYS % SHARES OUT.
INSTITUTIONAL OWNERSHIP %
MARKET CAP Q1
PRICE CHANGE  4 WEEK
PRICE CHANGE 13 WEEK
PRICE CHANGE 26 WEEK
RELATIVE STRENGTH  4 WEEK
RELATIVE STRENGTH 13 WEEK
RELATIVE STRENGTH 26 WEEK
RETURN ON EQUITY - 5 YEAR AVG.
RETURN ON EQUITY 12M

In [ ]:
cl = [
    
"P+1",
"P+2",
"P+3",
"P+4",
"P+5",
"P+6",
"P+7",
"P+8",
"P+9",
"P+10",
"P+11",
"P+12",
"R+1",
"R+2",
"R+3",
"R+4",
"R+5",
"R+6",
"R+7",
"R+8",
"R+9",
"R+10",
"R+11",
"R+12",
]